.header__tel{
    font-family: "Inter", Arial, serif;
    font-weight: 600;
    font-size: 1.26666667vw;
    line-height: 1.3541666667vw;
    color: var(--text-main-color);
    margin-bottom: 0.15625vw;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-right: -9vw;
    margin-top: 0.7vw
}
.header__tel:hover{
    color: #0086DB;
}
.header__nav.fixed .wrapper .nav-wrap .menu-menyu-v-shapke-container .nav .nav-item .nav-link{
    color: #ccc ;
}
.header__nav.fixed .wrapper .nav-wrap .menu-menyu-v-shapke-container .nav .nav-item .nav-link:hover{
    color: #0086DB;
}
@media (max-width: 768px) {
    .header__tel{
        display: none;
    }
}