.container{
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
}


.about{
    width: 100%;
    padding-top: 120px;

}
.about__body{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.about__body-text{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.about__body-title{
    font-size: 60px;
    font-weight: 400;
    line-height: 54px;
    text-align: left;
    color: #141414;
    text-transform: uppercase;
}
.about__body-text p{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #141414;
    max-width: 670px;
}
.about__body img{
    width: 804px;
    height: 535px;
}

.works{
    width: 100%;
    padding-top: 120px;
}
.works__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
}
.works__body-title{
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
    text-align: center;
    color: #0086DB;
    text-transform: uppercase;
}
.works__body-block{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.works__body-block-item{
    display: flex;
    flex-direction: column;
    gap: 44px;
    width: 498px;
}
.works__body-block-item-top{
    width: 100%;
    position: relative;
    height: 392px;
    padding: 40px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.works__body-block-item-top img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.works__body-block-item-top span{
    font-size: 32px;
    font-weight: 400;
    line-height: 35.33px;
    text-align: left;
    color: #fff;
}
.works__body-block-item p{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #7a7a7a;
    position: relative;
}
.works__body-block-item p::after{
    content: '';
    position: absolute;
    left: 0;
    top: -8px;
    background: #0086DB;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

.advantages{
    width: 100%;
    padding: 120px 0;
    margin-top: 150px;
    background: url(../images/adv.png) center no-repeat;
    background-size: cover;
}
.advantages__body{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.advantages__body-title{
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 1.4420000314712524px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}
.advantages__body-block{
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
}
.advantages__body-block-item{
    width: 498px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.advantages__body-block-item-title{
    display: flex;
    align-items: center;
    gap: 13px;
}
.advantages__body-block-item-title img{
    width: 40px;
    height: 40px;
}
.advantages__body-block-item-title span{
    font-family: 'Forum';
    font-size: 36px;
    font-weight: 400;
    line-height: 39.74px;
    letter-spacing: 0.7200000286102295px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}
.advantages__body-block-item p{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.7200000286102295px;
    text-align: left;
    color: #fff;
}


.part{
    width: 100%;
    padding-top: 120px;
}
.part__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.part__body-text{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}
.part__body-text h2{
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #006AAD;
}
.part__body-text p{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    max-width: 1302px;
    color: #7a7a7a;
}
.part__body-block{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}
.part__body-block-item{
    width: 299px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.part__body-block-item img{
    width: 150px;
    height: 150px;
}
.part__body-block-item span{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #0086DB;
}
.part__body-block-item p{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #7a7a7a;
}
.part__body-desc{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    max-width: 931px;
    color: #7a7a7a;
}
.footer{
    padding: 95px 0px 40px 0px;
    width: 100%;
    margin-top: 150px;
}
.footer__body{
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.footer__body-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer__body-top-logo{
    display: flex;
    align-items: center;
    gap: 14px;
}
.footer__body-top-logo img{
    width: 45px;
    height: 45px;
}
.footer__body-top-logo span{
    font-family: 'Inter', sans-serif;
    font-size: 13.45px;
    font-weight: 700;
    line-height: 15.4px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}
.footer__body-top-menu{
    display: flex;
    gap: 100px;
}
.footer__body-top-menu ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer__body-top-menu ul li {
    list-style: none;
    list-style-position: unset;
}
.footer__body-top-menu ul li a{
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #fff;
}
.footer__body-top-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer__body-top-info-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer__body-top-info-item span{
    font-size: 15.13px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #fff;
}
.footer__body-top-info-item a{
    font-size: 15.13px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #fff;
}
.footer__body-top-info-item p{
    font-size: 15.13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #fff;
}
.footer__body-copy{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.footer__body-copy p{
    font-size: 11.63px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.footer__body-copy-items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__body-copy-items span{
    font-size: 14.63px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #fff;
}

.cap{
    width: 100%;
    padding-top: 120px;
}
.cap__body{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.cap__body-text{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.cap__body-text h1{
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
    text-align: left;
    color: #333;
    text-transform: uppercase;
}
.cap__body-text p{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    max-width: 1428px;
    color: #7A7A7A;
}
.cap__body-block{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cap__body-block img{
    width: 670px;
    height: 522px;
}
.cap__body-block-items{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.cap__body-block-items-item{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.cap__body-block-items-item span{
    font-size: 32px;
    font-weight: 400;
    line-height: 35.33px;
    text-align: left;
    text-transform: uppercase;
    color: #0086DB;
    max-width: 766px;
}
.cap__body-block-items-item p{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    max-width: 766px;
    color: #7A7A7A;
}
.our{
    width: 100%;
}
.our__body{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.our__body img{
    width: 670px;
    height: 499px;
}
.our__body-text{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.our__body-text-main{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.our__body-text-main span{
    font-size: 32px;
    font-weight: 400;
    line-height: 35.33px;
    text-align: left;
    text-transform: uppercase;
    color: #0086DB;
}
.our__body-text-main p{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #7A7A7A;
}
.our__body-text-items{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.our__body-text-items-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.our__body-text-items-item span{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: #7A7A7A;
}
.our__body-text-items-item ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.our__body-text-items-item ul li{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #7A7A7A;
    list-style: none;
}
.dif{
    width: 100%;
    padding-top: 120px;
}
.dif__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.dif__body-title{
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
}
.dif__body-block{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.dif__body-block a{
    width: 364px;
    height: 79px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.6399999856948853px;
    text-align: left;
    
}
.dif__body-desc{
    padding-left: 134px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.dif__body-desc p{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #7A7A7A;
}
.sale{
    width: 100%;
    padding-top: 60px;
}
.sale__body{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.sale__body-title{
    font-size: 65px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 2.5999999046325684px;
    text-align: center;
    text-transform: uppercase;
    color: #242424;
}
.sale__body p{
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
    color: #242424;
}

.team{
    width: 100%;
    padding-top: 150px;
}
.team__body{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}
.team__body-text{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}
.team__body-text-title{
    font-size: 65px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 2.5999999046325684px;
    text-align: center;
    color: #242424;
    text-transform: uppercase;
}
.team__body-text p{
    font-family: var(--font-headings);
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
    color: #242424;
}
#team{
    width: 1570px;
    padding-bottom: 40px;
}
.team__body-slide{
    width: 1570px !important;
    display: flex;
    gap: 38px;
}
.team__body-slide img{
    width: 364px;
    height: 440px;
}
.splide__arrow{
    width: 64px;
    height: 64px;
    background: #0086DB;
}
.splide__arrow svg{
    fill: none;
    width: 10px;
    height: 16px;
}
.splide__arrow--next{
    right: -40px;
}
.splide__arrow--prev{
    left: -40px;
}
.splide__pagination__page.is-active{
    background: #0086DB;
}

@media (max-width:1920px) {
    html{
        font-size: calc(100vw / 1920);
    }
    .container{
        width: 100%;
        max-width: 1570rem;
        margin: 0 auto;
    }
    
    
    .about{
        width: 100%;
        padding-top: 120rem;
    
    }
    .about__body{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .about__body-text{
        display: flex;
        flex-direction: column;
        gap: 32rem;
    }
    .about__body-title{
        font-size: 60rem;
        font-weight: 400;
        line-height: 54rem;
        text-align: left;
        color: #141414;
        text-transform: uppercase;
    }
    .about__body-text p{
        font-size: 20rem;
        font-weight: 400;
        line-height: 28rem;
        text-align: left;
        color: #141414;
        max-width: 670rem;
    }
    .about__body img{
        width: 804rem;
        height: 535rem;
    }
    
    .works{
        width: 100%;
        padding-top: 120rem;
    }
    .works__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 37rem;
    }
    .works__body-title{
        font-size: 60rem;
        font-weight: 400;
        line-height: 80rem;
        text-align: center;
        color: #0086DB;
        text-transform: uppercase;
    }
    .works__body-block{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .works__body-block-item{
        display: flex;
        flex-direction: column;
        gap: 44rem;
        width: 498rem;
    }
    .works__body-block-item-top{
        width: 100%;
        position: relative;
        height: 392rem;
        padding: 40rem 30rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .works__body-block-item-top img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .works__body-block-item-top span{
        font-size: 32rem;
        font-weight: 400;
        line-height: 35.33rem;
        text-align: left;
        color: #fff;
    }
    .works__body-block-item p{
        font-size: 20rem;
        font-weight: 400;
        line-height: 28rem;
        text-align: left;
        color: #7a7a7a;
        position: relative;
    }
    .works__body-block-item p::after{
        content: '';
        position: absolute;
        left: 0;
        top: -8rem;
        background: #0086DB;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }
    
    .advantages{
        width: 100%;
        padding: 120rem 0;
        margin-top: 150rem;
        background: url(../images/adv.png) center no-repeat;
        background-size: cover;
    }
    .advantages__body{
        display: flex;
        flex-direction: column;
        gap: 60rem;
    }
    .advantages__body-title{
        font-size: 60rem;
        font-weight: 400;
        line-height: 80rem;
        letter-spacing: 1.4420000314712524rem;
        text-align: left;
        color: #fff;
        text-transform: uppercase;
    }
    .advantages__body-block{
        display: flex;
        flex-wrap: wrap;
        gap: 38rem;
    }
    .advantages__body-block-item{
        width: 498rem;
        display: flex;
        flex-direction: column;
        gap: 24rem;
    }
    .advantages__body-block-item-title{
        display: flex;
        align-items: center;
        gap: 13rem;
    }
    .advantages__body-block-item-title img{
        width: 40rem;
        height: 40rem;
    }
    .advantages__body-block-item-title span{
        font-family: 'Forum';
        font-size: 36rem;
        font-weight: 400;
        line-height: 39.74rem;
        letter-spacing: 0.7200000286102295rem;
        text-align: left;
        color: #fff;
        text-transform: uppercase;
    }
    .advantages__body-block-item p{
        font-size: 18rem;
        font-weight: 400;
        line-height: 25rem;
        letter-spacing: 0.7200000286102295rem;
        text-align: left;
        color: #fff;
    }
    
    
    .part{
        width: 100%;
        padding-top: 120rem;
    }
    .part__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60rem;
    }
    .part__body-text{
        display: flex;
        flex-direction: column;
        gap: 32rem;
        align-items: center;
    }
    .part__body-text h2{
        font-size: 60rem;
        font-weight: 400;
        line-height: 80rem;
        text-align: center;
        text-transform: uppercase;
        color: #006AAD;
    }
    .part__body-text p{
        font-size: 20rem;
        font-weight: 400;
        line-height: 28rem;
        text-align: center;
        max-width: 1302rem;
        color: #7a7a7a;
    }
    .part__body-block{
        display: flex;
        flex-wrap: wrap;
        gap: 18rem;
    }
    .part__body-block-item{
        width: 299rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16rem;
    }
    .part__body-block-item img{
        width: 150rem;
        height: 150rem;
    }
    .part__body-block-item span{
        font-size: 20rem;
        font-weight: 400;
        line-height: 28rem;
        text-align: center;
        color: #0086DB;
    }
    .part__body-block-item p{
        font-size: 20rem;
        font-weight: 400;
        line-height: 28rem;
        text-align: center;
        color: #7a7a7a;
    }
    .part__body-desc{
        font-size: 20rem;
        font-weight: 400;
        line-height: 28rem;
        text-align: center;
        max-width: 931rem;
        color: #7a7a7a;
    }
    #cookie_notification p{
        font-size: 12rem;
    }
    .footer{
        padding: 95rem 0rem 40rem 0rem;
        width: 100%;
        margin-top: 150rem;
    }
    .footer__body{
        max-width: 1120rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 45rem;
    }
    .footer__body-top{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .footer__body-top-logo{
        display: flex;
        align-items: center;
        gap: 14rem;
    }
    .footer__body-top-logo img{
        width: 45rem;
        height: 45rem;
    }
    .footer__body-top-logo span{
        font-family: 'Inter', sans-serif;
        font-size: 13.45rem;
        font-weight: 700;
        line-height: 15.4rem;
        text-align: left;
        color: #fff;
        text-transform: uppercase;
    }
    .footer__body-top-menu{
        display: flex;
        gap: 100rem;
    }
    .footer__body-top-menu ul{
        display: flex;
        flex-direction: column;
        gap: 15rem;
    }
    .footer__body-top-menu ul li {
        list-style: none;
        list-style-position: unset;
    }
    .footer__body-top-menu ul li a{
        font-size: 16rem;
        font-weight: 400;
        line-height: 16rem;
        text-align: center;
        color: #fff;
    }
    .footer__body-top-info{
        display: flex;
        flex-direction: column;
        gap: 30rem;
    }
    .footer__body-top-info-item{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    .footer__body-top-info-item span{
        font-size: 15.13rem;
        font-weight: 700;
        line-height: 24rem;
        text-align: left;
        color: #fff;
    }
    .footer__body-top-info-item a{
        font-size: 15.13rem;
        font-weight: 700;
        line-height: 24rem;
        text-align: left;
        color: #fff;
    }
    .footer__body-top-info-item p{
        font-size: 15.13rem;
        font-weight: 400;
        line-height: 24rem;
        text-align: left;
        color: #fff;
    }
    .footer__body-copy{
        display: flex;
        flex-direction: column;
        gap: 13rem;
    }
    .footer__body-copy p{
        font-size: 11.63rem;
        font-weight: 400;
        line-height: 18rem;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
    }
    .footer__body-copy-items{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer__body-copy-items span{
        font-size: 14.63rem;
        font-weight: 400;
        line-height: 24rem;
        text-align: center;
        color: #fff;
    }
    
    .cap{
        width: 100%;
        padding-top: 120rem;
    }
    .cap__body{
        display: flex;
        flex-direction: column;
        gap: 60rem;
    }
    .cap__body-text{
        display: flex;
        flex-direction: column;
        gap: 32rem;
    }
    .cap__body-text h1{
        font-size: 60rem;
        font-weight: 400;
        line-height: 80rem;
        text-align: left;
        color: #333;
        text-transform: uppercase;
    }
    .cap__body-text p{
        font-size: 20rem;
        font-weight: 400;
        line-height: 28rem;
        text-align: left;
        max-width: 1428rem;
        color: #7A7A7A;
    }
    .cap__body-block{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .cap__body-block img{
        width: 670rem;
        height: 522rem;
    }
    .cap__body-block-items{
        display: flex;
        flex-direction: column;
        gap: 40rem;
    }
    .cap__body-block-items-item{
        display: flex;
        flex-direction: column;
        gap: 16rem;
    }
    .cap__body-block-items-item span{
        font-size: 32rem;
        font-weight: 400;
        line-height: 35.33rem;
        text-align: left;
        text-transform: uppercase;
        color: #0086DB;
        max-width: 766rem;
    }
    .cap__body-block-items-item p{
        font-size: 20rem;
        font-weight: 400;
        line-height: 28rem;
        text-align: left;
        max-width: 766rem;
        color: #7A7A7A;
    }
    .our{
        width: 100%;
    }
    .our__body{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .our__body img{
        width: 670rem;
        height: 499rem;
    }
    .our__body-text{
        margin-top: 60rem;
        display: flex;
        flex-direction: column;
    }
    .our__body-text-main{
        display: flex;
        flex-direction: column;
        gap: 16rem;
    }
    .our__body-text-main span{
        font-size: 32rem;
        font-weight: 400;
        line-height: 35.33rem;
        text-align: left;
        text-transform: uppercase;
        color: #0086DB;
    }
    .our__body-text-main p{
        font-size: 20rem;
        font-weight: 400;
        line-height: 28rem;
        text-align: left;
        color: #7A7A7A;
    }
    .our__body-text-items{
        display: flex;
        flex-direction: column;
        gap: 24rem;
    }
    .our__body-text-items-item{
        display: flex;
        flex-direction: column;
        gap: 8rem;
    }
    .our__body-text-items-item span{
        font-size: 20rem;
        font-weight: 700;
        line-height: 28rem;
        text-align: left;
        color: #7A7A7A;
    }
    .our__body-text-items-item ul{
        display: flex;
        flex-direction: column;
        gap: 8rem;
    }
    .our__body-text-items-item ul li{
        font-size: 20rem;
        font-weight: 400;
        line-height: 28rem;
        text-align: left;
        color: #7A7A7A;
        list-style: none;
    }
    .dif{
        width: 100%;
        padding-top: 120rem;
    }
    .dif__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32rem;
    }
    .dif__body-title{
        font-size: 60rem;
        font-weight: 400;
        line-height: 80rem;
        text-align: center;
        text-transform: uppercase;
        color: #333;
    }
    .dif__body-block{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .dif__body-block a{
        width: 364rem;
        height: 79rem;
        font-size: 16rem;
        font-weight: 400;
        line-height: 19rem;
        letter-spacing: 0.6399999856948853px;
        text-align: left;
        
    }
    .dif__body-desc{
        padding-left: 134rem;
        display: flex;
        flex-direction: column;
        gap: 32rem;
    }
    .dif__body-desc p{
        font-size: 20rem;
        font-weight: 400;
        line-height: 28rem;
        text-align: left;
        color: #7A7A7A;
    }
    .sale{
        width: 100%;
        padding-top: 60rem;
    }
    .sale__body{
        display: flex;
        flex-direction: column;
        gap: 16rem;
        align-items: center;
    }
    .sale__body-title{
        font-size: 65rem;
        font-weight: 400;
        line-height: 80rem;
        letter-spacing: 2.5999999046325684rem;
        text-align: center;
        text-transform: uppercase;
        color: #242424;
    }
    .sale__body p{
        font-size: 32rem;
        font-weight: 400;
        line-height: 45rem;
        text-align: center;
        color: #242424;
    }
    .team{
        width: 100%;
        padding-top: 150rem;
    }
    .team__body{
        display: flex;
        flex-direction: column;
        gap: 60rem;
        align-items: center;
    }
    .team__body-text{
        display: flex;
        flex-direction: column;
        gap: 32rem;
        align-items: center;
    }
    .team__body-text-title{
        font-size: 65rem;
        font-weight: 400;
        line-height: 80rem;
        letter-spacing: 2.5999999046325684rem;
        text-align: center;
        color: #242424;
        text-transform: uppercase;
    }
    .team__body-text p{
        font-family: var(--font-headings);
        font-size: 32rem;
        font-weight: 400;
        line-height: 45rem;
        text-align: center;
        color: #242424;
    }
    #team{
        width: 1570rem;
        padding-bottom: 40rem;
    }
    .team__body-slide{
        width: 1570rem !important;
        display: flex;
        gap: 38rem;
    }
    .team__body-slide img{
        width: 364rem;
        height: 440rem;
    }
    .splide__arrow{
        width: 64rem;
        height: 64rem;
        background: #0086DB;
    }
    .splide__arrow svg{
        fill: none;
        width: 10rem;
        height: 16rem;
    }
    .splide__arrow--next{
        right: -40rem;
    }
    .splide__arrow--prev{
        left: -40rem;
    }
    .splide__pagination__page.is-active{
        background: #0086DB;
    }
}